<template name="items">
  <div class="col-sm-12 col-md-6">
      <div>
        <h3>Add item</h3>
        <div class="form-group">
          <input type="text" placeholder="Item Code" class="form-control new-item-code">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Item Name" class="form-control new-item-name">
        </div>
         
        <div class="form-group">
          <input type="text" placeholder="Quantity" class="form-control new-item-quantity">
        </div>

          <div class="input-group form-group">
              <input type="text" class="form-control new-item-category" aria-label="...">
              <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                      {{#each category in getCategories}}
                      <li><a value ="{{category.name}}" data-action="choose-category">{{category.name}}</a></li>
                      {{/each}}
                  </ul>
              </div><!-- /btn-group -->
          </div><!-- /input-group -->


      
        <div class="form-group">
          <input type="number" placeholder="Cost" class="form-control new-item-cost">
        </div>
        <div class="form-group">
          <input type="number" placeholder="Price" class="form-control new-item-price">
        </div>

        <button class="pull-right btn btn-default new-item-action">
          add
        </button>
          <button class="pull-right btn btn-default update-item-action">
              Update
          </button>
      </div>
    </div>

    <div class="row" style="padding: 0px 15px;">

        <table class="table">
            <thead>
                <tr>

                    <th class="table-header-name">Code</th>
                    <th class="table-header-name">Name</th>
                    <th class="table-header-quantity">Quantity</th>
                    <th class="table-header-category hidden-xs">Category</th>
                    <th class="table-header-price hidden-xs">Price</th>
                    <th class="table-header-cost hidden-xs">Cost</th>
                    <th class="table-header-edit">Edit</th>
                    <th class="table-header-remove">Remove</th>
                    <th class="table-header-reset">Reset Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each item in getList}}

                <tr>

                    <td class="table-row-name">{{item.code}}</td>
                    <td class="table-row-name">{{item.name}}</td>
                    <td class="table-row-quantity">{{item.quantity}}</td>
                    <td class="table-row-quantity">{{item.category}}</td>
                    <td class="table-row-price hidden-xs">{{item.price}}</td>
                    <td class="table-row-price hidden-xs">{{item.cost}}</td>
                    <td class="table-row-pricesum">
                        <span class="input-group-btn">
                            <button class="btn btn-default" data-action="edit-item" itemcategory="{{item.category}}" itemcost="{{item.cost}}" itemprice="{{item.price}}" itemquantity="{{item.quantity}}" itemname="{{item.name}}" itemcode="{{item.code}}" type="button"><i class="glyphicon glyphicon-pencil"></i></button>

                        </span>
                    </td>
                    <td class="table-row-pricesum">
                        <span class="input-group-btn">
                            <button class="btn btn-default" data-action="remove-item"  value="{{item.code}}" type="button"><i class="glyphicon glyphicon-remove"></i></button>

                        </span>
                    </td>
                    <td class="table-row-pricesum">
                        <span class="input-group-btn">
                            <button class="btn btn-default" data-action="reset-item" value="{{item.code}}" type="button"><i class="glyphicon glyphicon-repeat"></i></button>

                        </span>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>






    </div><!-- /.row -->
</template>
