﻿<template name="receipt">
    <div style="width:273px;overflow:hidden;" >
        <div style="text-align-last: center;">
            <img src="../logo.jpg" style="width:200px;" alt="Dairy Day" />
            <br />
            <span>Railway Road, sadu sam chowk, outside AL-Qamar Hotel</span>
            <br />
            <span>Tel: 061-4582322</span>
          

           
        </div>
        <br />
        <div>
            <span>Receipt # {{getPOS.nr}}</span>
            <br />
            <span>Date: {{getPOS.date}}</span>
            <br />
            <table class="table" style="margin-bottom:0px;">
                <thead>
                    <tr>


                        <th class="table-header-name">Item</th>
                        <th class="table-header-remove">Qty</th>
                        <th class="table-header-remove">Unit</th>   
                        <th class="table-header-remove">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list in getPOS.list}}

                    <tr>

                        <td class="table-row-name">{{list.item}}</td>
                        <td class="table-row-name">{{list.quantity}}</td>
                        <td class="table-row-name">{{list.unit}}</td>
                        <td class="table-row-name">{{list.pricesum}}</td>

                       


                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr style="margin: auto;" />
            <div style="text-align:right;padding-right:30px;">
                <span>Total: {{getPOS.sale}}</span>

            </div>
        </div>

        
    </div>
</template>