﻿<template name="categories">
    <div class="col-sm-12 col-md-6">
        <div>
            <div class="form-group">
                <input type="text" placeholder="Category Name" class="form-control category-name">
            </div>
            
            <button class="pull-right btn btn-default new-item-action">
                add
            </button>
           
        </div>
    </div>

    <div class="row" style="padding: 0px 15px;">

        <table class="table">
            <thead>
                <tr>

                  
                    <th class="table-header-name">Name</th>
                    <th class="table-header-remove">Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each category in getCategories}}

                <tr>

                    <td class="table-row-name">{{category.name}}</td>
                    
                    <td class="table-row-pricesum">
                        <span class="input-group-btn">
                            <button class="btn btn-default" data-action="remove-item" value="{{category.name}}" type="button"><i class="glyphicon glyphicon-remove"></i></button>

                        </span>
                    </td>
             

                </tr>
                {{/each}}
            </tbody>
        </table>






    </div><!-- /.row -->
</template>
