﻿<template name="home">

    {{#if currentUser}}
    {{#if isAdmin}}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img style="width:150px;" src="logo.jpg" alt="logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="home-action">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="categories-action">Categories</a></li>
                            <li><a href="#" class="items-action">Items</a></li>
                            <li><a href="#" class="users-action">Users</a></li>
                            <li><a href="#" class="expenses-action">Expenses</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="pos-action">POS</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="expensesr-action">Expenses Report</a></li>
                            <li><a href="#" class="salesr-action">Sales Report</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="signout-action">Signout</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    {{/if}}
    {{#if isCashier}}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img style="width:150px;" src="logo.jpg" alt="logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="home-action">Home</a></li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        
                            <li><a href="#" class="pos-action">POS</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="expensesr-action">Expenses Report</a></li>
                            <li><a href="#" class="salesr-action">Sales Report</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="signout-action">Signout</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    {{/if}}
    {{#if isCashierplus}}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img style="width:150px;" src="logo.jpg" alt="logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="home-action">Home</a></li>
                    <li class="dropdown">
                    
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="items-action">Items</a></li>
                          
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="pos-action">POS</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="expensesr-action">Expenses Report</a></li>
                            <li><a href="#" class="salesr-action">Sales Report</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="signout-action">Signout</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    {{/if}}
    <div class="container" style="padding: 15px 15px;width:100%;">
        
        {{#if isCategories}}
        <div class="panel panel-primary">
            <div class="panel-heading">Categories</div>
            <div class="panel-body">
                {{>categories}}
            </div>
        </div>
       
        {{/if}}
        {{#if isItems}}
        <div class="panel panel-primary">
            <div class="panel-heading">Items</div>
            <div class="panel-body">
                {{>items}}
            </div>
        </div>
        
        {{/if}}
        {{#if isUsers}}
        <div class="panel panel-primary">
            <div class="panel-heading">Users</div>
            <div class="panel-body">
                {{>users}}
            </div>
        </div>
       
        {{/if}}
        {{#if isExpenses}}
        <div class="panel panel-primary">
            <div class="panel-heading">Expenses</div>
            <div class="panel-body">
     {{>expenses}}
            </div>
        </div>
        
        {{/if}}
        {{#if isPOS}}
        <div class="pos-war">
            <div class="panel panel-warning">
                <div class="panel-heading">Warning</div>
                <div class="panel-body">
                   <p>Please, complete transaction first</p>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Point of Sale</div>
            <div class="panel-body">
              {{>pos}}
            </div>
        </div>
       
        {{/if}}
        {{#if isExpensesR}}
        <div class="panel panel-primary">
            <div class="panel-heading">Expenses Report</div>
            <div class="panel-body">
             {{>expensereport}}
            </div>
        </div>
        
        {{/if}}
       
        {{#if isSalesR}}
        <div class="panel panel-primary">
            <div class="panel-heading">Categories</div>
            <div class="panel-body">
                {{>salesreport}}
            </div>
        </div>
     
        {{/if}}
        {{#if isHome}}
        <img style="width:100%" src="logo.jpg" alt="logo" />
        {{/if}}
        


    </div>
    {{else}}
    <div>
        {{>login}}
       
    </div>

    {{/if}}
 

    
</template>