﻿<template name="users">
    <div class="col-sm-12 col-md-6">
        <div>
            <h3>Add Users</h3>

            <div class="form-group">
                <input type="text" placeholder="Name" class="form-control new-user-name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Username" class="form-control new-user-username">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control new-user-password">
            </div>
            <div class="input-group form-group">
                <input type="text" class="form-control new-user-role" aria-label="...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Role <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                       
                        <li><a value="admin" data-action="choose-role">admin</a></li>
                        <li><a value="cashier" data-action="choose-role">cashier</a></li>
                        <li><a value="cashierplus" data-action="choose-role">cashierplus</a></li>
                      
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->


            <button class="pull-right btn btn-default new-user-action">
                add
            </button>

        </div>
    </div>

    <div class="row" style="padding: 0px 15px;">

        <table class="table">
            <thead>
                <tr>

                    <th class="table-header-name">Id</th>
                    <th class="table-header-name">Name</th>
                    <th class="table-header-name">Username</th>
                    <th class="table-header-name">Role</th>

                    <th class="table-header-remove">Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each user in getUsers}}

                <tr>

                    <td class="table-row-name">{{user._id}}</td>
                    <td class="table-row-name">{{user.profile.name}}</td>
                    <td class="table-row-quantity">{{user.username}}</td>
                    <td class="table-row-quantity">{{user.profile.role}}</td>

                    <td class="table-row-remove">
                        <span class="input-group-btn">
                            <button class="btn btn-default" data-action="remove-item" value="{{user._id}}" type="button"><i class="glyphicon glyphicon-remove"></i></button>

                        </span>
                    </td>


                </tr>
                {{/each}}
            </tbody>
        </table>






    </div><!-- /.row -->
</template>
