﻿<template name="expenses">
    <div class="col-sm-12 col-md-6">
        <div>
            <h3>Add Expense</h3>
            
            <div class="form-group">
                <input type="text" placeholder="Expense" class="form-control new-expense-name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Amount e.g. 200" class="form-control new-expense-amount">
            </div>


            <button class="pull-right btn btn-default new-expense-action">
                add
            </button>
           
        </div>
    </div>

    <div class="row" style="padding: 0px 15px;">

        <table class="table">
            <thead>
                <tr>

                    <th class="table-header-name">Id</th>
                    <th class="table-header-name">Expense</th>
                    <th class="table-header-name">Amount</th>
                    <th class="table-header-name">Date</th>
                   
                    <th class="table-header-remove">Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each expense in getExpenses}}

                <tr>

                    <td class="table-row-name">{{expense._id}}</td>
                    <td class="table-row-name">{{expense.name}}</td>
                    <td class="table-row-quantity">{{expense.amount}}</td>
                    <td class="table-row-quantity">{{expense.date}}</td>
                   
                    <td class="table-row-remove">
                        <span class="input-group-btn">
                            <button class="btn btn-default" data-action="remove-item" value="{{expense._id}}" type="button"><i class="glyphicon glyphicon-remove"></i></button>

                        </span>
                    </td>
                    

                </tr>
                {{/each}}
            </tbody>
        </table>






    </div><!-- /.row -->
</template>
