<template name="pos">

    <!-- Modal For Quantity -->
    <div id="itemsbyquantity" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Items</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th class="table-header-name">Code</th>
                                    <th class="table-header-name">Name</th>
                                    <th class="table-header-quantity">Quantity</th>
                                    <th class="table-header-price hidden-xs">Price</th>
                                    <th class="table-header-remove">Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each item in getList}}

                                <tr>
                                    
                                    <td class="table-row-name">{{item.code}}</td>
                                    <td class="table-row-name">{{item.name}}</td>
                                    <td class="table-row-quantity">{{item.quantity}}</td>
                                    <td class="table-row-price hidden-xs">{{item.price}}</td>
                                    <td class="table-row-pricesum">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"  data-action="select-item" value="{{item.code}}" type="button"><i class="glyphicon glyphicon-hand-up"></i></button>

                                        </span>
                                    </td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>






                    </div><!-- /.row -->
                </div>
                
            </div>

        </div>
    </div>

    <div class="input-group pull-right">
        <span class="input-group-addon ">
            <input type="checkbox" class="chk-comp" checked="checked" aria-label="..."> Include compensation of 0.015kg or 15gm
        </span>

    </div><!-- /input-group -->

    <div class="row" style="padding: 0px 20px;">

        <div class="col-md-6">

        </div><!-- /.col-lg-6 -->
        <div class="col-md-6">
            <div class="input-group">

                <span class="input-group-btn " style="padding-bottom: 10px;padding-top:10px;">
                    <button class="btn btn-default btn-sales-return pull-right" type="button"><i class="glyphicon glyphicon-chevron-right"></i> Sales Return</button>

                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div  style="padding: 0px 20px">
        <div id="quantity-sec">
            <div class="panel panel-primary">
                <div class="panel-heading">Sale by Quantity</div>
                <div class="panel-body">


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" placeholder="Item Code" class="form-control item-codeq">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-item-searchq" data-toggle="modal" data-target="#itemsbyquantity" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control item-quantity" placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-add-item-quantity" type="button">Add</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Sale by Price</div>
                <div class="panel-body">


                    <div class="row">

                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" placeholder="Item Code" class="form-control item-codep">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-item-searchp" data-toggle="modal" data-target="#itemsbyquantity" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control item-price" placeholder="Price">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-add-item-price" type="button">Add</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
        <div id="invoicenr-sec">
            <div class="panel panel-primary">
                <div class="panel-heading">Sales Return</div>
                <div class="panel-body">
                <div class="input-group">
                    <input type="text" placeholder="Invoice Number" class="form-control sales-return-nr">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-get-invoice" data-toggle="modal"  type="button"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    </span>
                </div>
        </div></div>
        </div>


        <div class="row" id="comp-trans">

            <div class="col-md-6">
                
            </div><!-- /.col-lg-6 -->
            <div class="col-md-6">
                <div class="input-group">
                    
                    <span class="input-group-btn " style="padding-bottom: 10px;">
                        <button class="btn btn-default btn-complete-transaction pull-right" type="button"><i class="glyphicon glyphicon-chevron-right"></i> Complete Transaction</button>
                        
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div class="row" id="upd-trans">

            <div class="col-md-6">

            </div><!-- /.col-lg-6 -->
            <div class="col-md-6">
                <div class="input-group">

                    <span class="input-group-btn " style="padding-bottom: 10px;">
                        <button class="btn btn-default btn-update-transaction pull-right" type="button"><i class="glyphicon glyphicon-chevron-right"></i> Update Transaction</button>

                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div class="panel panel-success">
            <div class="panel-heading">
               
              
            Items</div>
            <div class="panel-body">


                <div class="row">

                    <table class="table" id="tbl">   
                        <thead>
                            <tr>
                                <th class="table-header-name ">#</th>
                                <th class="table-header-name hidden-xs">Code</th>
                                <th class="table-header-name">Name</th>
                                <th class="table-header-quantity">Quantity</th>
                                <th class="table-header-price hidden-xs">Price</th>
                                <th class="table-header-pricesum">PriceSum</th>
                                <th class="table-header-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each item in getListedItems}}
                            <tr>
                                <td class="table-row-name">{{item.id}}</td>
                                <td class="table-row-name hidden-xs">{{item.code}}</td>
                                <td class="table-row-name">{{item.item}}</td>
                                <td class="table-row-quantity">{{item.quantity}}</td>
                                <td class="table-row-price hidden-xs">{{item.unit}}</td>
                                <td class="table-row-pricesum">{{item.pricesum}}</td>
                                <td class="table-row-pricesum"><span class="input-group-btn">
    <button class="btn btn-default" data-action="remove-item" data-quan="{{item.quantity}}" value="{{item.id}}" type="button"><i class="glyphicon glyphicon-remove"></i></button>

</span></td>
                                
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                       
                



                </div><!-- /.row -->
            </div>
        </div>
       
        

    </div>
    <script>

        window.onbeforeunload = confirmExit;
        function confirmExit() {
            return "Please, remember to complete transaction before closing tab.";
        }
    </script>
    
</template>