﻿<template name="expensereport">
    <div class="col-sm-12 col-md-6">
        <div>

            <div class="form-group">
                From:  <input class="datepicker" id="dateFrom" style="width:100%;" data-date-format="dd-mm-yyyy">
            </div>
            <div class="form-group">
                To:  <input class="datepicker" id="dateTo" style="width:100%;" data-date-format="dd-mm-yyyy">
            </div>




            <button class="pull-right btn btn-default search-action">
                Search
            </button>

        </div>
    </div>

    <div class="row" style="padding: 0px 15px;">
            <table class="table expensetable">
                <thead>
                    <tr>

                        <th class="table-header-name">Name</th>
                        <th class="table-header-name">Amount</th>
                        <th class="table-header-name">Date</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each expense in getExpenses}}

                    <tr>

                        <td class="table-row-name">{{expense.name}}</td>
                        <td class="table-row-name amount">{{expense.amount}}</td>
                        <td class="table-row-quantity">{{expense.date}}</td>




                    </tr>
                    {{/each}}
                </tbody>
            </table>
           
         
            <hr />
            <div class="row pull-right" style="padding: 0px 15px;width:50%;">

                <table class="table pull-right">
                    <thead>
                        <tr>
                            <th class="table-header-name">Total Expenses</th>


                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            {{#if getTotalExpenses}}
                            <td class="table-row-name">{{getTotalExpenses}}</td>
                            {{else}}
                            <td class="table-row-name">

                                <button class=" btn btn-default calculate-action">
                                    Calculate
                                </button>
                            </td>
                            {{/if}}





                        </tr>

                    </tbody>
                </table>

            </div>




</div><!-- /.row -->
    
</template>
