﻿<template name="salesreport">
    <div class="col-sm-12 col-md-6">
        <div>

            <div class="form-group">
              From:  <input class="datepicker" id="dateFrom" style="width:100%;" data-date-format="dd-mm-yyyy">
            </div>
            <div class="form-group">
                To:  <input class="datepicker" id="dateTo" style="width:100%;" data-date-format="dd-mm-yyyy">
            </div>
           
           


            <button class="pull-right btn btn-default search-action">
                Search
            </button>

        </div>
    </div>

    <div class="row" style="padding: 0px 15px;">

        <table class="table">
            <thead>
                <tr>

                    <th class="table-header-name">Invoice #</th>
                    <th class="table-header-name">Date</th>
                    <th class="table-header-name">Profit</th>
                    <th class="table-header-name">Sale</th>

                </tr>
            </thead>
            <tbody>
                {{#each sale in getSales}}

                <tr>

                    <td class="table-row-name">{{sale.nr}}</td>
                    <td class="table-row-name">{{sale.date}}</td>
                    <td class="table-row-quantity profit">{{sale.profit}}</td>
                    <td class="table-row-quantity sale">{{sale.sale}}</td>

                    


                </tr>
                {{/each}}
            </tbody>
        </table>
    <hr />
    <div class="row pull-right" style="padding: 0px 15px;width:50%;">
        
        <table class="table pull-right">
            <thead>
                <tr>
                    <th class="table-header-name">Total Profit</th>
                    <th class="table-header-name">Total Sales</th>
                    

                </tr>
            </thead>
            <tbody>
                
                {{#if getTotalProfit}} 
                <tr>
                    <td class="table-row-name">{{getTotalProfit}}</td>
                    <td class="table-row-name">{{getTotalSales}}</td>
                    
              



                </tr>
                {{else}}
                <tr>
                    <td class="table-row-name">
                        <button class=" btn btn-default calculate-action">
                            Calculate
                        </button>
                    </td>
               





                </tr>
                {{/if}}
            
            </tbody>
        </table>
    
    </div>




    </div><!-- /.row -->
</template>
