﻿<template name="login">
    <div style="padding-top:10%;" class="container">
        <img style="width:100%" src="logo.jpg" alt="logo" />
            <div>
                <h3>Login</h3>
               

                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control user-username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control user-password">
                </div>

                <button class="pull-right btn btn-default login-action">
                    Login
                </button>

            </div>
        </div>
  

  
</template>
